@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: hsl(193, 50%, 10%);
  --color-pre-primary: hsl(193, 50%, 15%);
  --color-secondary: hsl(193, 50%, 90%);
  --color-tertiary: hsl(253, 80%, 80%);
  --color-accent: hsl(133, 80%, 80%);
}

li {
  transition: opacity 0.3s ease, text-decoration 0.3s ease;
}

.underline-animation {
  position: relative;
  overflow: hidden;
}

.underline-animation::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::before,
.underline-animation.underline::before {
  transform: translateX(0);
}